.hero {
  background-color: #ffda5a;
  height: 40rem;
}

.hero-logo {
  height: 80px;
}

.hero_inner {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-around; 
 
}


.hero_textnbutton {
  flex: 1 1 40%; 
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10%;
  margin-bottom: 10%;
}

.hero button {
  padding: 1rem 3.2rem 1rem 3.2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  cursor: pointer;
}

.collage {
  padding: 4rem;
  position: absolute;
  top: 55%;
  width: 40%;
}


@media (width >= 768px) {
  .hero_inner {
    flex-direction: row;
    /* padding: 30px 0;
    gap: 30px; */
  }

  .collage{
    position: relative;
  }
}
