---
import Card from "../card.astro";
---

<section class="kolfavorit">
  <div class="favoritheaders">
    <h1>Favoritter fra kollektionen</h1>
    <h3>Se kollektionen nu</h3>
  </div>
  <div class="favoritter">
    <Card
      image="https://pleasant.dk/cdn/shop/files/upcycledcaps_tall174_main.jpg?v=1733909339"
      title="Abstract nature upcycled shirt"
      price="499,00 DKK"
    />
    <Card
      image="https://pleasant.dk/cdn/shop/files/shirts_20.2.25_26.jpg?v=1740407529"
      title="Abstract nature upcycled shirt"
      price="499,00 DKK"
    />
    <Card
      image="https://pleasant.dk/cdn/shop/files/17_main.jpg?v=1736932946"
      title="Abstract nature upcycled shirt"
      price="499,00 DKK"
    />
    <Card
      image="https://pleasant.dk/cdn/shop/files/upcycledcaps_tall44_main.jpg?v=1734009425"
      title="Abstract nature upcycled shirt"
      price="499,00 DKK"
    />
  </div>
  <div class="imgbanner">
    <img src="/public/Group 38.png" alt="bannerphotoshoot" />
  </div>
</section>

<style>
  .favoritheaders {
    margin: 4rem 4rem 4rem 7rem;
  }
  .favoritter {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;

    /* limit to 85% of the viewport and center */
    max-width: 85%;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .favoritter > * {
    flex: 0 0 calc(33.333% - 1rem);
    box-sizing: border-box;
    padding-bottom: 30px;
  }
  .kolfavorit {
    margin-bottom: -5px;
  }
  .kolfavorit h1 {
    font-family: "Caprasimo";
    font-size: 2.6rem;
  }
  .kolfavorit h3 {
    text-decoration: underline;
    margin-top: -20px;
    font-size: 28px;
  }
  @media (max-width: 640px) {
    .kolfavorit h3 {
      font-size: 15px;
      padding-top: 10px;
    }
    .kolfavorit h1 {
      font-size: 34px;
      margin-top: -30px;
      margin-right: 20px;
    }
  }
</style>
