---

---

<section class="hero">
  <div class="hero_inner container">
    <div class="hero_textnbutton">
      <h1>HAV EN <img class="hero-logo" src="/src/assets/images/Logo-negsort.svg" alt="Pleasant logo" /> FESTIVAL</h1>
      <button>Se kollektionen nu</button>
    </div>
    <div class="collage">
      <img src="/src/assets/images/Group 6.png" alt="" />
      <!-- <img src="/src/assets/images/Skærmbillede1pleasant.png" alt="Billede fra pleasant photoshoot 1" />
      <img src="/src/assets/images/pleasant21.png" alt="Billede fra pleasant photoshoot 2" />
      <img src="/src/assets/images/DSCF24161.png" alt="Billede fra pleasant photoshoot 3" /> -->
    </div>
  </div>
</section>
