---

---

<section class="hero">
<<<<<<< HEAD
  <div class="hero_inner container">
    <div class="hero_textnbutton">
      <h1>HAV EN <img class="hero-logo" src="Logo-negsort.svg" alt="Pleasant logo" /> FESTIVAL</h1>
      <button>Se kollektionen nu</button>
    </div>
    <div class="collage">
      <img src="Group 6.png" alt="" />
      <!-- <img src="/src/assets/images/Skærmbillede1pleasant.png" alt="Billede fra pleasant photoshoot 1" />
      <img src="/src/assets/images/pleasant21.png" alt="Billede fra pleasant photoshoot 2" />
      <img src="/src/assets/images/DSCF24161.png" alt="Billede fra pleasant photoshoot 3" /> -->
=======
  <div class="hero__inner container">
    <div class="hero__text">
      <h1>
        HAV EN <img
          class="hero-logo"
          src="/pleasantlogo1.png"
          alt="Pleasant logo"
        /> FESTIVAL
      </h1>
    </div>
    <div class="hero__images">
      <img
        src="/Skærmbillede1pleasant.png"
        alt="Billede fra pleasant photoshoot 1"
      />
      <img src="/pleasant21.png" alt="Billede fra pleasant photoshoot 2" />
      <img src="/DSCF24161.png" alt="Billede fra pleasant photoshoot 3" />
>>>>>>> origin/main
    </div>
  </div>
</section>
