---

---

<section class="hero">
  <div class="hero_inner container">
    <div class="hero_textnbutton">
      <h1>HAV EN <img class="hero-logo" src="Logo-negsort.svg" alt="Pleasant logo" /> FESTIVAL</h1>
      <a href="/produktliste"><button>Se kollektionen nu</button></a>
    </div>
    <div class="collage">
      <img src="Group 6.png" alt="" />
    </div>
  </div>
</section>
