---

---

<section class="hero">
  <div class="hero__inner container">
    <div class="hero__text">
      <h1>
        HAV EN <img
          class="hero-logo"
          src="/pleasantlogo1.png"
          alt="Pleasant logo"
        /> FESTIVAL
      </h1>
    </div>
    <div class="hero__images">
      <img
        src="/Skærmbillede1pleasant.png"
        alt="Billede fra pleasant photoshoot 1"
      />
      <img src="/pleasant21.png" alt="Billede fra pleasant photoshoot 2" />
      <img src="/DSCF24161.png" alt="Billede fra pleasant photoshoot 3" />
    </div>
  </div>
</section>
