---
import Lottiefile from "../Lottiefile.astro";
---

<section class="baredygtig">
  <div class="content">
    <h2>Pleasant er 100% bæredygtig</h2>
    <p>
      Når du handler hos os, støtter du en ansvarlig modeindustri med fokus på
      økologi, genbrug og fair forhold. Dit valg gør en reel forskel for både
      mennesker og planet.
    </p>
  </div>
  <div class="lottie">
    <Lottiefile />
    <Lottiefile />
  </div>
</section>
<style>
  .baredygtig {
    display: flex;
    background-color: #3d7a53;
    padding: 2rem 1rem;
    color: white;
  }
  .lottie {
    display: flex;
  }
  .content {
    padding-top: 20px;
  }
  .baredygtig p {
    font-size: 1rem;
    line-height: 3;
  }
</style>
