---
import Lottiefile from "../Lottiefile.astro";
---

<section class="baredygtig">
  <div class="sustainindhold">
    <div class="content">
      <h2>Pleasant er 100% bæredygtig</h2>
      <p>Når du handler hos os, støtter du en ansvarlig modeindustri med fokus på økologi, genbrug og fair forhold. Dit valg gør en reel forskel for både mennesker og planet.</p>
    </div>
    <div class="lottie">
      <Lottiefile />
      <!-- <Lottiefile /> -->
    </div>
  </div>
</section>
<style>
  .baredygtig {
    display: flex;
    background-color: #3d7a53;
    padding: 2rem 1rem;
    color: white;
    height: 20rem;
    align-items: center;
  }
  .sustainindhold {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }
  .lottie {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .content {
    padding-top: 20px;
    align-items: center;
    max-width: 65%;
  }
  .baredygtig p {
    font-size: 1rem;
    line-height: 3;
  }
</style>
