---
import Lottiefile from "../Lottiefile.astro";
---


<section>
  <div class="baredygtig">
    <div>
      <h2>Tøj der holder — også til festivaler</h2>
      <p>

        Når du handler hos os, støtter du en ansvarlig modeindustri med fokus på
        økologi, genbrug og fair forhold. Dit valg gør en reel forskel for både
        mennesker og planet.<br />
        <br /> Hos Pleasant designer vi tøj, der er skabt til at blive brugt igen
        og igen — også når dagene er lange, og nætterne bliver til morgener. Vi forvandler
        brugte tekstiler til nyt tøj — og sparer samtidig kloden for store mængder
        vand, kemi og CO2. <br />
        <br /> Vi tror på tidløst design, holdbarhed og færre kompromiser. Så når
        du klæder dig på til festival, klæder du dig også på til en grønnere fremtid.

      </p>
    </div>
    <div class="lottie">
      <Lottiefile />
      <Lottiefile />

    </div>
  </div>
</section>
<style>
  section {
    background-color: #3d7a53;
  }
  .baredygtig {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    color: white;
    gap: 30px;
  }
  
  .lottie {
    display: flex;
    align-items: center;
    max-width: 500px;
  }

  .baredygtig p {
    font-size: 1rem;
    line-height: 2;
  }
</style>
