---
const { image, title, price } = Astro.props;
---

<div class="card">
  <img src={image} alt={title} />
  <h4>{title}</h4>
  <p>{price}</p>
</div>

<style>
  .card img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }

  .card {
    text-align: center;
    background-color: #f3f0e7;
    margin-top: -20px;
  }
  @media (max-width: 640px) {
    .card {
      padding-left: 25px;
    }
  }
</style>
