---
import "../styles/global.css";
---

<header>
  <div class="top-bar">
    <!-- <a href="/retur" class="top-bar__link">Gratis retur</a> -->
    <div class="container">
      <nav class="top-bar__nav">
        <a href="/stories">Stories</a>
        <a href="/hvorfor-pla">Hvorfor vælge Pleasant?</a>
        <a href="/gensalg">Gensalg</a>
        <a href="/styleguide">Styleguide</a>
        <a href="/forhandlere">Forhandlere</a>
      </nav>
      <!-- <div class="top-bar__social">
        <a href="#"><img src="/icons/facebook.svg" alt="Facebook" /></a>
        <a href="#"><img src="/icons/instagram.svg" alt="Instagram" /></a>
        <a href="#"><img src="/icons/tiktok.svg" alt="TikTok" /></a>
      </div> -->
    </div>
  </div>

  <!-- Hoved-navigation med logo -->
  <div class="main-nav">
    <div class="container">
      <div class="logo-container">
        <a href="" class="logo"
          ><img src="/pleasantlogo1.png" alt="Pleasant" /></a
        >
      </div>
      <nav class="site-nav">
        <a href="/produktliste">Kasketter ▼</a>
        <a href="/produktliste">Tøj ▼</a>
        <a href="/produktliste">Livsstil ▼</a>
        <a href="/produktliste">Drops ▼</a>
      </nav>
      <!-- <div class="site-actions">
        <a href="/søg"><img src="/icons/search.svg" alt="Søg" /></a>
        <a href="/min-konto"><img src="/icons/user.svg" alt="Min konto" /></a>
        <a href="/kurv"><img src="/icons/cart.svg" alt="Kurv" /></a>
      </div> -->
    </div>
  </div>
</header>
