---
import Looks from "../data/lookbook.json";
---

{
  Looks.map((look) => (
    <div class="card">
      <div class="img-container">
        <a href="/singleView">
          <img src={look.images[0]} alt={look.title} />
        </a>
      </div>
      <h4>{look.title}</h4>
      <p>{look.price} DKK</p>
    </div>
  ))
}

<style>
  .card {
    background-color: #f3f0e7;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
  }

  .img-container {
    aspect-ratio: 3 / 4;
    overflow: hidden;
    border-radius: 4px;
  }

  .img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
</style>
